@import '../../../css/config.scss';

.container {
  width: 100%;
  padding: 100px;
  height: 100%;
  padding-left: 200px;
  position: absolute;

  .title {
    text-align: center;
    font-size: 30pt;
    margin-top: 50px;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;

    .card {
      display: block;
      width: 300px;
      margin: 10px;
      text-align: center;

      h1 {
        font-size: 16pt;
      }

      p {
        font-size: 11pt;
        text-align: justify;
      }
    }
  }
  .button-wrapper {
    width: 100%;
    
    button {
      margin: auto;
      display: block;
      background: #579aff;
      padding: 10px 30px;
      color: white;
      border: none;
      font-size: 12pt;
      cursor: pointer;
      margin-top: 30px;
  
      .icon {
        font-size: 15pt;
        margin-right: 10px;
      }
    }
  }
}