@import '../../../css/config.scss';

@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 100px;
  position: absolute;
  overflow: hidden;
  height: 100%;
  top: 0;
  padding-left: 200px;
  position: absolute;

  @media only screen and (max-width: 800px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: 412px;
    
    @media only screen and (max-width: 800px) {
      height: 300px;
    }
  }

  .desc {
    height: 200px;
    margin-left: 70px;
    color: inherit;
    font-weight: 500;
    text-shadow: rgba(214, 214, 214, 0.44) 2px 2px 5px;
    color: rgb(247, 165, 39);
    
    @media only screen and (max-width: 800px) {
      margin-left: 0;
    }

    .desc1 {
      font-size: 50pt;
      margin-top: 140px;
      display: block;
      font-weight: 800;
      margin-bottom: 10px;

      @media only screen and (max-width: 800px) {
        margin-top: 0;
      }
    }

    .desc2, .desc3 {
      display: block;
      font-size: 15pt;
      font-weight: 500;
    }
  }
}